.section-motorcycle {
  background-color: #E0E0E0;
  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 12px;
  }

  .title {
    margin-bottom: 12px;
  }

  .button {
    margin-top: 32px;
  }
}
