@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,600;1,700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');

.padding-df {
  padding: 44px 29px;
}
.blue {
  color: #114881;
  font-weight: 800;
  // font-style: italic;
  font-family: Montserrat;
}

.description {
  color: #7d7d7d;
}

.header {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 29px;
  position: sticky;
  top: 0;
  background-color: #def6ff;
  box-shadow: 0px 4px 4px 0px #00000020;


  svg {
    width: 120px;
  }
}

.section-presentation {
  color: #fff;
  .title {
    color: #fff;
  }

  .section-presentation_subtitle {
    margin-top: 14px;
  }

  .section-presentation_show-coverage {
    margin: 14px 0 22px 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .button {
    margin-top: 32px;
    background: #114881;
  }
}

.section-susep {
  .title {
    margin-bottom: 12px;
  }

  .questions {
    margin-top: 44px;
    border-top: 1px solid #D9D9D9;
  }
}

.section-app-racer {
  background-color: #E0E0E0;

  .title {
    margin-bottom: 12px;
  }

  .button {
    margin-top: 32px;
  }

  .section-app-racer_apps {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }
}
