.section-fleet {
  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    overflow: hidden;
    right: 40px;
    margin-bottom: 12px;
  }

  .title {
    margin-bottom: 12px;
  }

  .button {
    margin-top: 32px;
  }
}
